<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판 목록</title>
</head>
<body>
<h1>게시글 목록</h1>
<table border="1">
    <tr>
        <th>번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
    </tr>
    <tr th:each="board : ${boardList}">
        <td th:text="${board.id}"></td>
        <td>
            <a th:href="@{'/post/' + ${board.id}}" th:text="${board.title}"></a>
        </td>
        <td th:text="${board.writer}"></td>
        <td th:text="${board.createdAt}"></td>
    </tr>
</table>

<a href="/post">글쓰기</a>
</body>
</html>

