<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시글 수정</title>
</head>
<body>
<h1>게시글 수정</h1>

<form th:action="@{|/post/update/${boardDto.id}|}" th:object="${boardDto}" method="post">
    <input type="hidden" name="_method" value="put" />
    <input type="hidden" th:field="*{id}" />

    <label>제목</label><br>
    <input type="text" th:field="*{title}" required /><br><br>

    <label>작성자</label><br>
    <input type="text" th:field="*{writer}" required /><br><br>

    <label>내용</label><br>
    <textarea th:field="*{content}" rows="5" cols="50" required></textarea><br><br>

    <button type="submit">수정하기</button>
</form>

<a th:href="@{/}">목록으로</a>
</body>
</html>
